<html>
    <body>
        <div class="row" style="">
                <h2>Rohan Alampalli Rajashekara</h2>
                <h2>1001855014</h2>
            </div>
        </div>

        <form action="/names", method="POST" , method = "GET">
            <input type="submit" id="button" style="margin-left: 10%;width: 10%;" value="Show All Files"/>
        </form>

        <form action="/details", mehtod="POST" , mehtod = "GET">
            <label>Enter Name:</label>
            <input type="text" name="roomnumber"/>
            <input type="submit" value="Search"/>
        </form>

        {% for items in fn %}
        <label>{{items}}</label>
        <br>
        {% endfor %}
    </body>
</html>